* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(232, 229, 224, 0.1);
    border-bottom: 1px solid rgba(232, 229, 224, 0.1);
    font-family: 'Raleway', sans-serif;
}

ul{
  padding:0;
}

li.plus{
  padding:0 0 0.5em 3em;
  margin-bottom:0.2em;
  text-indent:0.4em;
  list-style:none;
  background-repeat:no-repeat;
  background-image:url("../images/check.png");
  font-size: 1em;
  line-height: 2em;
}

li.horizontal{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    background-repeat:no-repeat;
}

li.horizontal[data-type="github"]{
 background-image:url("../images/link-icons/github-icon.png");
 }

 li.horizontal[data-type="twitter"]{
  background-image:url("../images/link-icons/twitter-icon.png");
  }

h1, h2, h3 {
    text-align: center;
    font-size: 1.4rem;
}

h4 {
    text-align: left;
    font-size: 1.4rem;
}

h5 {
    text-align: right;
    font-size: 1.4rem;
    color: #dc1414;
}

h1.title {
    z-index: 3;
    position: absolute;
}

p.subtitle {
    margin: 0.1em;
    font-weight: 300;
    font-size: 1.2em;
}
strong {
    font-weight: 500;
    color: #dc1414;
}

img, video {
    max-width: 100%;
    width: 100%;
    height: 100%
}

div {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-weight: inherit;
    font-style: normal;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
    outline: 0px none;
}

input, textarea {
    height: 2em;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    width: 20rem;
    height: 2.2rem;
    margin-bottom: 0.5em;
    padding: 0.2em;
    font-size: 0.8em;
}

label {
    float: left;
    text-align: left;
    margin-left: 0.5em;
    width: 10em;
}

button {
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color:#fc8d83;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
button:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color:#e4685d;
}
button:active {
    position:relative;
    top:1px;
}

img.logo {
    width: 40%;
    margin: 0.5em;
}

img.leader {
    opacity: 0.7;
}

section.explained {
    padding: 1em;
    z-index: 3;
    border-top: 1px solid rgba(232, 229, 224, 0.5);
    border-bottom: 1px solid rgba(232, 229, 224, 0.1);
}

section.explained p {
    font-size: 1em;
    line-height: 2em;
}

div.row {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
}

div.row::after {
    clear: both;
    display: block;
    line-height: 0;
    content: "";
}

div.container {
    width: 100%;
    margin: 0px auto;
}

div.lean-explained {
    color: #333333;
}

div.lean-explained-grey {
    background-color: #2B373A;
    color: #BFBFBF;
    padding-left: 3em;
}

div.lean-part {
    width: 31%;
    display: block;
    float: left;
    min-height: 3rem;
    margin: 0.4em;
    box-sizing: border-box;
}

div.lean-part-small {
    width: 25%;
    padding-right: 2em;
    display: block;
    float: left;
    min-height: 3rem;
    margin: 0.4em;
    box-sizing: border-box;
}

div.lean-part-white {
    width: 50%;
    background-color: #FFF;
    color: #2B373A;
    padding: 2em;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-sizing: border-box;
}

div.txt-part-wide {
    width: 60%;
    display: block;
    float: left;
    min-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-sizing: border-box;
}
div.txt-part-wide-left {
    width: 60%;
    display: block;
    float: left;
    min-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-sizing: border-box;
}

div.txt-part-wide-intro {
    width: 60%;
    display: block;
    float: left;
    min-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    box-sizing: border-box;
}

div.lean-part img.lean-image {
    display: block;
    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

div.lean-part img.centered-image {
    display: block;
    height: 40%;
    width: 40%;
    padding-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

div.lean-part img.medium-image {
    display: block;
    height: 75%;
    width: 75%;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
}
img.footer-image {
    display: block;
    height: 75%;
    width: 75%;
    align: right;
    margin-left: auto;
    margin-right: auto;
}

section.interested {
    background: #eee9ea;
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 2;
    max-width: 30%;
    opacity: 0.9;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 20px 31px -7px rgba(0,0,0,0.75);
}

.hidden {
    display: none;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #e1e1e1;
    background-color: #e1e1e1;
    width: 85%;
}

p.signup-message {
}

.wrap {
    width: 100%;
    height: 150px;
    display: block;
    color: #333E49;
}
